   body { 
    background-color: rgb(134, 147, 171);
    font-family: sans-serif; 
    font-size: 20px; }
    
   h2 {
    font-size: 25px;
   }
  
  .fotos { 
    border-radius: 100%;
  }
  .foto2 {
    border-radius: 20%;
  }