
    * {  /* toda a pagina (*) */
      margin: 0%;
      padding: 0%;
    }
    body { 
    font-family: sans-serif; 
    font-size: 20px;
    border: 0;
    padding: 0;
    }
    .fotoinicio{
      width: 100%;
      padding: none;
      border: none;
    }
    .menu {
      position: fixed;
      background-color: white;
      border: 2px solid black;
      padding: 20px;
      de
    }
    .menu li{
      display: inline;
    }
   .inicio {
    background-color: gray;
    font-size: 25px;
    width: 90%;
    margin: auto; /* centralizar com a margem (*) */
    margin-bottom: 100px;
   }
   .home{
    text-align: center;
    margin: 30pix auto;
   }
   .parafrafo {
    margin: auto
   }
   .bordan {
    text-align: center;
    border: 2px solid black;
  }
  
  .fotos { 
    border-radius: 100%;
  }
  .foto2 {
    border-radius: 20%;
  }
  .contatos { 
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
    background-color: gray;
    border-radius: 20px;
    text-align: center;
    margin: 20px auto;
  }

  .hobbies {
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
    background-color: gray;
    border-radius: 20px;
    margin: auto;
    width: 300px;
  }
  li:hover {
    color: brown;
  }
  h2 {
    font-size: 30px;
   }
  hi{
  text-align: center;
  }